{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}

[git]
    autoCommit = true
    autoPush = true

[scriptEnv]
    XDG_CONFIG_HOME = {{ printf "%s%s" .chezmoi.homeDir "/.config" | quote }}
    XDG_CACHE_HOME = {{ printf "%s%s" .chezmoi.homeDir "/.cache" | quote }}
    XDG_DATA_HOME = {{ printf "%s%s" .chezmoi.homeDir "/.local/share" | quote }}
    XDG_STATE_HOME = {{ printf "%s%s" .chezmoi.homeDir "/.local/state" | quote }}
    ZDOTDIR = {{ printf "%s%s" .chezmoi.homeDir "/.config/zsh" | quote }}
