[init]
    defaultBranch = main

[user]
    name = Florian Ohrel
{{- if eq .chezmoi.hostname "T14-WIN10" }}
    email = "ohrel.florian@pm.me"
    signingkey = 100EA06AD26B5047
{{- end }}

[commit]
    gpgsign = true

{{ if contains "microsoft" .chezmoi.kernel.osrelease -}}
[gpg]
    program = /mnt/c/Program Files (x86)/GnuPG/bin/gpg.exe

[credential]
    helper = /mnt/c/Program Files/Git/mingw64/libexec/git-core/git-credential-wincred.exe
{{- end }}

[core]
    editor = code -w
    autocrlf = false
    pager = delta

[include]
    path = /home/gmorizur/.config/delta/themes.gitconfig

[interactive]
    diffFilter = delta --color-only

[delta]
    features = catppuccin-mocha
    line-numbers = true
    zero-style = dim syntax
    commit-style = raw
    file-added-label = [+]
    file-copied-label = [==]
    file-modified-label = [*]
    file-removed-label = [-]
    file-renamed-label = [->]
