#!/usr/bin/env bash

{{ if eq .chezmoi.osRelease.id "opensuse-tumbleweed" -}}
{{ range .packages.linux.tumbleweed.zypper.pkg -}}
sudo zypper install -t package {{ . | quote }}
{{ end }}
{{ range .packages.linux.tumbleweed.zypper.pattern -}}
sudo zypper install -t pattern {{ . | quote }}
{{ end }}
